<table class="table-hover table-warning">
    <thead>
        <tr>            
            <th class="p-2 text-center">BookingId</th>
            <th class="p-2 text-center">Member</th>
            <th class="p-2 text-center">Trainer</th>
            <th class="p-2 text-center">Day Of Week</th>
            <th class="p-2 text-center">Start Time</th>
            <th class="p-2 text-center">End Time</th>
            
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of srvM.tList">
            <td class="p-2 text-center" (click)="fillForm(m)" >{{m.BookingId}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.MemberId}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.TrainerId}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.DayOfWeek}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.StartTime}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.EndTime}}</td>
            
            <td (click)="fillForm(m)"><button class="btn btn-sm btn-danger text-white" (click)="onDelete(m.BookingId)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table> 