<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="TrainerId" [value]="objSrv.traData.TrainerId">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="bi bi-person-lines-fill" [class.green-icon]="FirstName.valid" [class.red-icon]="FirstName.invalid"></i>
                    <input name="FirstName" #FirstName="ngModel" [(ngModel)]="objSrv.traData.FirstName"
                    placeholder="First Name" class="form-control" required minlength="3" maxlength="50">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="bi bi-person-lines-fill" [class.green-icon]="LastName.valid" [class.red-icon]="LastName.invalid"></i>
                    <input name="LastName" #LastName="ngModel" [(ngModel)]="objSrv.traData.LastName"
                    placeholder="Last Name" class="form-control" required minlength="3" maxlength="50">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">    
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="bi bi-123" [class.green-icon]="Email.valid" [class.red-icon]="Email.invalid && Email.touched"></i>
                    <input name="Email" #Email="ngModel" [(ngModel)]="objSrv.traData.Email"
                    placeholder="Email" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">    
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="bi bi-award" [class.green-icon]="Phone.valid" [class.red-icon]="Phone.invalid &&Phone.touched"></i>
                    <input name="Phone" #Phone="ngModel" [(ngModel)]="objSrv.traData.Phone"
                    placeholder="Phone" class="form-control" required length="10">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">    
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="bi bi-cash-stack" [class.green-icon]="Specialization.valid" [class.red-icon]="Specialization.invalid && Specialization.touched"></i>
                    <input name="Specialization" #Specialization="ngModel" [(ngModel)]="objSrv.traData.Specialization"
                    placeholder="Specialization" class="form-control" required minlength="5">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success btn-lg" type="submit" [disabled]="form.invalid"><i class="bi bi-database-fill-up green-icon"></i>Add Trainer</button>
</form>