<table class="table-hover table-warning">
    <thead>
        <tr>                        
            <th class="p-2 text-center" >Member Id</th>
            <th class="p-2 text-center" >Membership Id</th>
            <th class="p-2 text-center" >Start Date</th>            
            <th class="p-2 text-center" >End Date</th>
            
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of srvM.mList">
            <td class="p-2 text-center" (click)="fillForm(m)" >{{m.MemberId}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.MembershipId}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.StartDate}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.EndDate}}</td>
            
            <td class="text-center" (click)="fillForm(m)"><button class="btn btn-lg btn-danger text-white" (click)="onDelete(m.MemberMembershipId)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table> 