<div class="container m-2">
  <h2 class="text-primary bg-white text-center">Gym Management System</h2>
  <div class="row">
    <div class="col-md-3 bg-primary-subtle text-primary">
      <app-equip-register></app-equip-register>
    </div>
    <div class="col-md-9 bg-success-subtle text-success">
      <app-equip-display></app-equip-display>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-primary-subtle text-primary">
      <app-mem-register></app-mem-register>
    </div>
    <div class="col-md-6 bg-success-subtle text-success">
      <app-mem-display></app-mem-display>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-primary-subtle text-primary">      
      <app-membershipregister></app-membershipregister>
    </div>
    <div class="col-md-6 bg-success-subtle text-success">
      <app-membershipdisplay></app-membershipdisplay>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-primary-subtle text-primary">      
      <app-trainer-register></app-trainer-register>
    </div>
    <div class="col-md-6 bg-success-subtle text-success">
      <app-trainer-display></app-trainer-display>      
    </div>
  </div>
</div>