<table class="table-hover table-warning">
    <thead>
        <tr>
            <th>Equipment ID</th>
            <th>Equipment Name</th>
            <th>Description</th>
            <th>Purchase Date</th>
            <th>Last Maintenance Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of srvE.eList">
            <td (click)="fillForm(e)" >{{e.EquipmentId}}</td>
            <td (click)="fillForm(e)">{{e.EquipmentName}}</td>
            <td (click)="fillForm(e)">{{e.Description}}</td>
            <td (click)="fillForm(e)">{{e.PurchaseDate}}</td>
            <td (click)="fillForm(e)">{{e.LastMaintenanceDate}}</td>
            <td (click)="fillForm(e)"><button class="btn btn-lg btn-danger text-white" (click)="onDelete(e.EquipmentId)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table> 