<table class="table-hover table-warning">
    <thead>
        <tr>            
            <th class="p-2 text-center">Membership Type</th>
            <th></th>
            <th class="p-2 text-center">Duration</th>
            <th></th>
            <th class="p-2 text-center">Price</th>            
            <th></th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of srvM.memList">
            <td class="p-2 text-center" (click)="fillForm(m)" >{{m.MembershipType}}</td>
            <td></td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.Duration}}</td>
            <td></td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.Price}}</td>            
            <td></td>
            <td class="text-center" (click)="fillForm(m)"><button class="btn btn-sm btn-danger text-white" (click)="onDelete(m.MembershipId)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table> 