<table class="table-hover table-warning">
    <thead>
        <tr>            
            <th class="p-2 text-center">First Name</th>
            <th class="p-2 text-center">Last Name</th>
            <th class="p-2 text-center">Email</th>
            <th class="p-2 text-center">Phone</th>
            <th class="p-2 text-center">Date Of Birth</th>
            <th class="p-2 text-center">Joining Date</th>
            <th class="p-2 text-center">Membership Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of srvM.memList">
            <td class="p-2 text-center" (click)="fillForm(m)" >{{m.FirstName}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.LastName}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.Email}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.Phone}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.DateOfBirth}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.JoinDate}}</td>
            <td class="p-2 text-center" (click)="fillForm(m)">{{m.MembershipStatus}}</td>
            <td (click)="fillForm(m)"><button class="btn btn-sm btn-danger text-white" (click)="onDelete(m.MemberId)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table> 