<table class="table-hover table-warning">
    <thead>
        <tr>
            <th class="p-2 text-center">Trainer ID</th>
            <th class="p-2 text-center">First Name</th>
            <th class="p-2 text-center">Last Name</th>
            <th class="p-2 text-center">Email</th>
            <th class="p-2 text-center">Phone</th>
            <th class="p-2 text-center">Specialization</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of srvE.traList">
            <td class="p-2 text-center" (click)="fillForm(e)" >{{e.TrainerId}}</td>
            <td class="p-2 text-center" (click)="fillForm(e)">{{e.FirstName}}</td>
            <td class="p-2 text-center" (click)="fillForm(e)">{{e.LastName}}</td>
            <td class="p-2 text-center" (click)="fillForm(e)">{{e.Email}}</td>
            <td class="p-2 text-center" (click)="fillForm(e)">{{e.Phone}}</td>
            <td class="p-2 text-center" (click)="fillForm(e)">{{e.Specialization}}</td>
            <td class="text-center" (click)="fillForm(e)"><button class="btn btn-sm btn-danger text-white" (click)="onDelete(e.TrainerId)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table> 